@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }

}





//media query maneger
/*
0-600px: phone
600-900px: tablet portrait
900-1200px: tablet landscape
1800 + ; big desktop
*/

/*
@mixin respond-phone {
    @media(max-width: 600px) {
        @content
    }

    ;
}
/*content directive */
/*

$breakpoint arguement choices:
-phone
-tab-port
-tab-land
-big-desktop

1rem=16px
600/16=37.5em
ORDER:BASE + TYPOGRAPHY > GENERAL LAYOUT + GRID > PAGE LAYOUT > COMPONENTS
*/


@mixin respond($breakpoint) {
    @if $breakpoint ==phone {
        @media only screen and (max-width:37.5em) {
            @content
        };}
    @if $breakpoint == tab-port {
        @media only screen and (max-width:56.25em) {
            @content
        };}
    @if $breakpoint ==tab-land {
        @media only screen and (max-width:75em) {
            @content
        };}
    @if $breakpoint ==big-desktop {
        @media only screen and (max-width:112.5em) {
            @content
        };}

}