.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.9),
            rgba($color-primary-dark, 0.8)),
        url(/images/hero-small.jpg);
    background-size: cover;
    background-position: center;
  
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path:polygon){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }


    @media only screen and (min-resolution:192dpi) and (min-width:37.5em),
                        only screen and (-webkit-min-device-pixel-ratio:2)
                                    and (min-width:37em),
                       only screen and  (min-width:125rem) {
           background-image: linear-gradient(to right bottom,
                   rgba($color-primary-light, 0.9),
                   rgba($color-primary-dark, 0.8)),
                   url(/images/hero.jpg);

    }


    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

    }

    &__logo-box {
        position: absolute;
        top: 50px;
        left: 50px;

    }

    &__logo {
        height: 30px;
    }

    //the banner text box
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}