.u-center-text{text-align: center !important;}


.u-margin-buttom-small{margin-bottom: 1.5rem !important;}
.u-margin-buttom-medium{
    margin-bottom: 4rem !important;

     @include respond(tab-port){
        margin-bottom: 3rem !important;
     }
}
.u-margin-bottom-big{
    margin-bottom: 8rem !important;

     @include respond(tab-port){
        margin-bottom: 5rem !important;
     }
}

.u-margin-top-big{margin-bottom: 8rem !important;}
.u-margin-top-huge{margin-bottom: 10rem !important;}